/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* <!---->
    Created on : 16 mars 2017, 15:40:46
    Author     : Saba
*/

title, h1, h2, h3, caption {
   	font-family: Capture it;
	src: url("../fonts/Capture it.ttf");
        color: black;
}
body, main {
  margin: 0;
  background-color: white;
  text-align: center;
  background-image:url(../img/logo_css3_html5.png);
  background-position:left 5px;
  background-repeat:repeat-x;  
}
header, ol {
  font-family: sans-serif;
  font-weight: bold; 
  color:grey;
}

footer {
  font-family: sans-serif;
  text-align: right;
  background-color: white;
  border-bottom:3px;
  border-width:1px;
  border-style:solid; 
  border-color:#D3D3D3;
  font-weight: bold;
  color: black;
}
div {
    font-family: sans-serif;
    color:grey;
    background-color: white;
    text-align: left;
    width:50%;
    margin: 0 auto;
    display: inline-block;
    
}
div.toto {
    font-family: sans-serif;
    color:grey;
    background-color: white;
    text-align: left;
    width:30%;
    margin: 0 auto;
    display: inline-block;
    
}
p {
    font-family: sans-serif;
    color:grey;
    background-color: white;
    text-align: left;
    width:40%;
    margin: 0 auto;
    font-weight: bold;
}

table.toto {
  border-collapse:collapse;
  border: #a8cbff 1px solid; 
  width:50%;
  margin: 0 auto;
}

tr, tfoot { 
  border-collapse:collapse;
}
th, td  { 
  vertical-align:middle;
  font-family: sans-serif;
  text-align: center;
  border: #a8cbff 1px solid;
  height: 30px;
border-collapse: collapse;
}

a {
 background-color: white;
 underline: 1;
 color:grey;
}
a:active,
a:hover {
  underline: 1;
  color:black;
}