/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* <!---->
    Created on : 16 mars 2017, 15:40:46
    Author     : Saba
*/

title, h1, h2, h3, caption {
   	font-family: sans-serif;
        color: black;
}
body, main {
  margin: 0;
  background-color: white;
  text-align: center; 
}
header, ol {
  font-family: sans-serif;
  font-weight: bold; 
  color:grey;
      margin: 0 auto;
}

footer {
  font-family: sans-serif;
  text-align: right;
  background-color: white;
  border-bottom:3px;
  border-width:1px;
  border-style:solid; 
  border-color:#D3D3D3;
  color: black;
}
div {
    font-family: sans-serif;
    color:grey;
    background-color: white;
    text-align: left;
    margin: auto;
    vertical-align: middle;
    
}
p {
    font-family: sans-serif;
    color:grey;
    background-color: white;
    text-align: left;
    margin: 0 auto;
    font-weight: normal;
}
p.titi, blockquote {
    font-family: sans-serif;
    color:grey;
    background-color: white;
    text-align: left;
    margin: 0 auto;
    font-weight: normal;
    font-size: small;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
}
p.toto {
    font-family: sans-serif;
    color:grey;
    background-color: white;
    text-align: center;
    margin: 0 auto;

}
ul.toto {
    font-family: sans-serif;
    color:grey;
    background-color: white;
    text-align: left;
    margin: 0 auto;
    font-weight: normal;
        margin: 0 auto;
}

tr, tfoot { 
  border-collapse:collapse;
  
}
th, td  { 
  vertical-align:middle;
  font-family: sans-serif;
  text-align: center;
  border: #a8cbff 1px solid;
  height: 30px;
border-collapse: collapse;
}

a {
 background-color: white;
 color:grey;
}
a:active,
a:hover {
  color:black;
}


div.item img, div.active img{
    margin-left: auto;
    margin-right: auto;
}

blockquote p {
        text-align: justify;
}

h4 {
   color:black; 
}

div.jumbotron.oui {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}


/*DEBUT TRAITEMENT NAVBAR*/
.iconehome{
    width:20px;
    height: 20px; 
}
.navbar {
    background-color:#91D14F;
    margin:0px;
    border-radius:0px;
    border:0px;
    
    top:0;

    
    
    /*opacity:0.2;*/
   
   }
.navbar:hover{
 opacity:2;
 transition-duration: 0.5s, 0.5s;
}
.navbar:active{
   color:red;
   
}
/*rubrique nav haut*/
.navbar-default .navbar-nav>li>a{
    color:#fff;
    text-align: left;
 font-style: normal;
}

 
    

.navbar-collapse > ul > li{
    text-align: right;
}

/*FIN TRAITEMENT NAVBAR*/

/*TRAITEMENT BANNIERE*/
.banniere{
   width: 100%;
   max-height:120px;
   margin:0px;
    
    
}
/*FIN TRAITEMENT BANNIERE*/

/*TRAITEMENT LOGO*/
.logo{
    width:200px;
    height:250px;
    margin-top:5px;
    
    
}
/*FIN TRAITEMENT LOGO*/

/*TRAITEMENT NAV SECTIONS*/
/*.tablenav tr #celluledroite{
    background-image: url("../img/fd/bovins7.jpg");
    max-height:200px;
    background-color:#91D14F;
 
}*/
.menusection{
    border-collapse: separate;
    border-spacing: 25px 0px;
}
.menusection td img{
    width: 100px;
    height:100px;
}

.menusection {
    border-collapse: separate;
    border-spacing:60px 0px;
    /*background-color:#91D14F;*/
   
}


   #imageback{
       background-image:url("../img/fd/limousine.jpg");
       background-size: 100% 170px;
       background-color:#91D14F;
       background-repeat:no-repeat;
       
}



/*TRAITEMENT MENU DEROULANT SECTION*/
.dropsection{
    margin: 0px 0 0;
    
    width:100%;
}

td a, #faunesection:active{
    image:url("../img/iconesnav/Abeille (3).png");
}
.dropdown{
    position:relative;
}

.dropdownsection{
    position:static;
}
.menuderoulant a{
     font-family: OpenSans, sans-serif;
}
.menuderoulant{
    top: 100%;
z-index: 1000;
display: none;
float: left;
min-width: 1031px;
padding:0;
margin: 0px 0 0;
font-size: 14px;
text-align: left;
list-style: none;
background-color: #fff;
-webkit-background-clip: padding-box;
background-clip: padding-box;
border: 1px solid #ccc;
border: 1px solid rgba(0,0,0,.15);
border-radius: 0px;
-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
box-shadow: 0 6px 12px rgba(0,0,0,.175);
left: 0px;
position: absolute;
columns: 3 100px;
border-top: 3px solid #007AC0;
-webkit-column-break-after: auto;
}




/*FIN TRAITEMENT MENU DEROULANT SECTION*/